
<dl>
  <td>Nombre:</td>
  <dd>{{title}}</dd>

  <td>Precio:</td>
  <dd>{{price}}</dd>

  <td>Descripción:</td>
  <dd>{{description}}</dd>

  <td>Categoría:</td>
  <dd>{{category}}</dd>

  <td>Image:</td>
  <dd>{{image}}</dd>

  <td>Método:</td>
  <dd>{{getProductDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

  <!-- Cualquier valor positivo o negativo va a afectar al *ngIf -->
  <button *ngIf="title === 'Fjallraven - Foldsack No. 1 Backpack, Fits 15 Laptops'" class="btn btn-primary mx-2"
    (click)="changeTitle()">
    Cambiar nombre
  </button>
  <button *ngIf="price !== 100" class="btn btn-primary" (click)="changePrice()">Cambiar precio</button>
  <button class="btn btn-primary mx-2" (click)="resetForm()">Reset</button>
</dl>
